---
layout: default
images: 
 - column: col-4_xs-12
   ratio: specific-ratio-48
   url: https://source.unsplash.com/O6UzDPFH36g
   pos: bg-pos-b
 - column: col-8
   ratio: landscape-wide
   url: https://source.unsplash.com/G4ziHhpaWJ4
   pos: bg-pos-b
 - column: col-6
   ratio: square
   url: https://source.unsplash.com/U3aF7hgUSrk
   pos: bg-pos-r
 - column: col-6
   ratio: square
   url: https://source.unsplash.com/gRHEt2kF3NU
   pos: 
 - column: col-4_xs-12
   ratio: portrait
   url: https://source.unsplash.com/AbNO2iejoXA
   pos: 
 - column: col-4_xs-12
   ratio: portrait
   url: https://source.unsplash.com/Ntm4C2lCWxQ
   pos: 
 - column: col-4_xs-12
   ratio: portrait
   url: https://source.unsplash.com/kd0U9ohhpAs
   pos: 
 - column: col-12
   ratio: landscape-wide
   url: https://source.unsplash.com/nWX4pKwzLoE
   pos: bg-pos-b
---

<!------------- Header  ---------------->
    <header class="grid tall-100 md-tall-80">

        {% include header-nav.html %}
         
        <div class="col-12 text-center">
             <h3 data-aos="fade-in" data-aos-duration="1000">
                 <span class="featured-text" > Explore</span> our world
             </h3>
             <h1 class="font-weight-normal" data-aos="fade-out" data-aos-delay="500">the ultimate mattress solution</h1>                
         </div>
    </header>

    <!-- Image Gallery -->
    <section class="padded">
        <h2 class="text-center">Filterable Image Gallery</h2>

        
        <div class="gallery grid">

            {% for item in page.images%}
            <div class="{{item.column}}">
                <div class="bg-image {{item.ratio}} {{item.pos}}" style="background-image: url('{{item.url}}')"></div>
            </div>

            {% endfor %}

        </div>
    </section>
    
