---
layout: default
features:
  - icon: fas fa-leaf
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur
      quisquam incidunt nesciunt, quam cumque nobis similique vero. Quis optio
      dolores laboriosam ipsum inventore delectus labore. Saepe sapiente
      corporis impedit.
  - icon: fas fa-carrot
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur
      quisquam incidunt nesciunt, quam cumque nobis similique vero. Quis optio
      dolores laboriosam ipsum inventore delectus labore. Saepe sapiente
      corporis impedit.
  - icon: fas fa-apple-alt
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur
      quisquam incidunt nesciunt, quam cumque nobis similique vero. Quis optio
      dolores laboriosam ipsum inventore delectus labore. Saepe sapiente
      corporis impedit.
  - icon: fas fa-pizza-slice
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur
      quisquam incidunt nesciunt, quam cumque nobis similique vero. Quis optio
      dolores laboriosam ipsum inventore delectus labore. Saepe sapiente
      corporis impedit.
---

<!------------- Header  ---------------->
        <header class="grid tall-100 md-tall-80">

           {% include header-nav.html %}
            
           <div class="col-12 text-center">
                <h3><span class="featured-text">sleep</span> like a baby</h3>
                <h1 class="font-weight-normal">the ultimate mattress solution</h1>                
            </div>
        </header>

        <!------------ Gallery Section---------------->
        <section class="grid text-left">
            <div class="padded col-6-middle_xs-12 editable">
                <h2>build to last a <span class="featured-text">lifetime</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio animi veniam fugit similique quisquam placeat ipsam magnam iure corporis, quis, recusandae ab dicta asperiores quibusdam maiores repellendus tempora nobis cum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptate necessitatibus consequuntur deserunt! Iure totam dignissimos, iste eum qui unde incidunt esse debitis saepe harum quae, porro asperiores est quia.</p>
            </div>
            <div class="bg-image bg-bed col-6_xs-12 tall-70 hide-xs">
                <!-- background image bed -->
            </div>
            <div class="bg-image bg-bug col-6_xs-12 tall-70">
                <!-- background image pug sleeping-->
            </div>
            <div class="padded col-6-middle_xs-12">
                <h2>so <span class="featured-text">soft</span> you'll melt</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio animi veniam fugit similique quisquam placeat ipsam magnam iure corporis, quis, recusandae ab dicta asperiores quibusdam maiores repellendus tempora nobis cum.</p>
            </div>
        </section>


        <!------------ Feature Icon Grid---------------->
        <section class="padded grid-center bg-dark text-left">
            <div class="padded-sm col-12 text-center">
                <h2> <span class="featured-text">features</span> you will love</h2>
            </div>

            {% for item in page.features%}
            <div class="padded-sm col-3_sm-6-center xxs-stack">
                <i class="{{item.icon}}"></i>
                <p>{{item.description}}</p>
            </div>
            {% endfor %}
        </section>

       <!------------ Banner---------------->

       <section class="padded text-center bg-pillow tall-60 grid bg-image">
            <div class="col-12-middle">
                <h3>
                    <span class="small-text font-weight-normal">never underestimate the power of</span> 
                    <br /> <span class="big-text">good night <span class="white-text">sleep</span></span> 
                </h3>
            </div>
       </section>


       <!------------ Testimonial Section---------------->
       <section class="padded-lg grid">
           <div class="col-1 text-right">
               <span class="quote-icon">&#8220</span>
           </div>
           <div class="col-10 text-center">
               <p class="medium-text font-weight-light">I've never experienced sleep like this. Omg I really love this mattress I want to buy one to every member of my family</p>
               <p class="subtitle">- A very happy customer</p>
           </div>
           <div class="col-1">
               <span class="quote-icon">"</span>
           </div>
       </section>
