---
layout: default
cards: 
 - heading: Produkt Apple
   description: Sapiente aliquid modi doloremque porro eaque nihil adipisci illum, ipsum minus, molestiae architecto consequuntur enim ab delectus, a id quos? Delectus, accusantium?
   featured_image: /images/the-sleep-co-white-sheets.png
 - heading: Produkt Pear
   description: Sapiente aliquid modi doloremque porro eaque nihil adipisci illum, ipsum minus, molestiae architecto consequuntur enim ab delectus, a id quos? Delectus, accusantium?
   featured_image: /images/the-sleep-co-bed.png
 - heading: Produkt Banana
   description: Sapiente aliquid modi doloremque porro eaque nihil adipisci illum, ipsum minus, molestiae architecto consequuntur enim ab delectus, a id quos? Delectus, accusantium?
   featured_image: /images/the-sleep-co-yellow.png
---

        <!--------------Header-------------------->
        <header class="grid tall-60">
            {% include header-nav.html %}
            <div class="col-12 text-center">
                <h3>
                    addictively <span class="featured-text">soft</span>
                </h3>
                <h1 class="font-weight-normal">you won't want to get out of bed</h1>                
            </div>
        </header>
                
        <!------------ Text Grid ---------------->
        <section class="padded grid bg-featured text-left">
            <div class="padded-sm col-12 text-center">
                <h2> <span class="white-text">features</span> you will love</h2>
            </div>
            <div class="padded-sm col-3_sm-6 xxs-stack">
                <h3>little heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempore ab, rerum sit odio beatae expedita quia suscipit! Est quis nemo soluta iusto qui et a aliquam porro accusamus ea?</p>
            </div>
            <div class="padded-sm col-3_sm-6 xxs-stack">
                <h3>little heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempore ab, rerum sit odio beatae expedita quia suscipit! Est quis nemo soluta iusto qui et a aliquam porro accusamus ea?</p>
            </div>
            <div class="padded-sm col-3_sm-6 xxs-stack">
                <h3>little heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempore ab, rerum sit odio beatae expedita quia suscipit! Est quis nemo soluta iusto qui et a aliquam porro accusamus ea?</p></div>
            </div>
            <div class="padded-sm col-3_sm-6 xxs-stack">
                <h3>little heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempore ab, rerum sit odio beatae expedita quia suscipit! Est quis nemo soluta iusto qui et a aliquam porro accusamus ea?</p></div>
            </div>
        </section>

    
         <!----------- Cards -------------------->
        <section class="grid padded">

            {% for item in page.cards%}
            <div class="col-4_xs-12 padded-sm">
                <div class="card">
                    <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
                    <div class="padded-1">
                        <h3>{{item.heading}}</h3>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

                

       <!------------ Banner---------------->

       <section class="padded text-center tall-60 grid bg-dark">
            <div class="col-12-middle">
                <h3>
                    <span class="small-text font-weight-normal">spent over $150 and get</span> 
                    <br> <span class="big-text"><span class="featured-text">free</span> express shipping</span> 
                </h3>
            </div>
        </section>
        


        <!--image grid -->
        <section class="grid text-left">
            <div class="padded col-6-middle_sm-12 editable">
                <h2>build to last a <span class="featured-text">lifetime</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio animi veniam fugit similique quisquam placeat ipsam magnam iure corporis, quis, recusandae ab dicta asperiores quibusdam maiores repellendus tempora nobis cum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptate necessitatibus consequuntur deserunt! Iure totam dignissimos, iste eum qui unde incidunt esse debitis saepe harum quae, porro asperiores est quia.</p>
            </div>
            <div class="bg-image bg-bed col-6_sm-12 tall-70">
                <!-- background image bed -->
            </div>
            <div class="bg-image bg-bug col-6_sm-12 tall-70 hide-sm">
                <!-- background image pug sleeping-->
            </div>
            <div class="padded col-6-middle_sm-12">
                <h2>so <span class="featured-text">soft</span> you'll melt</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio animi veniam fugit similique quisquam placeat ipsam magnam iure corporis, quis, recusandae ab dicta asperiores quibusdam maiores repellendus tempora nobis cum.</p>
            </div>
            <div class="bg-image bg-bug col-6_sm-12 tall-70 show-sm">
                <!-- background image pug sleeping-->
            </div>
            <div class="padded col-6-middle_sm-12 editable">
                <h2>build to last a <span class="featured-text">lifetime</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio animi veniam fugit similique quisquam placeat ipsam magnam iure corporis, quis, recusandae ab dicta asperiores quibusdam maiores repellendus tempora nobis cum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptate necessitatibus consequuntur deserunt! Iure totam dignissimos, iste eum qui unde incidunt esse debitis saepe harum quae, porro asperiores est quia.</p>
            </div>
            <div class="bg-image bg-bed col-6 hide-sm tall-70">
                <!-- background image bed -->
            </div>
        </section>