/*
    colors: 
    yellow: #ffbe00
    Navy:#192837
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: 
}
  
img { max-width: 100%; }
  
/* Optional padding to override default gridlex columns */ 
[class*=col] { padding: 0; }


/* -------------------------Universal Styles & Utility Classes--------------------------------*/

/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-bottom: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-bottom: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-bottom: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-bottom: 0; }

/* Margin Utility Classes */ 
.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

/*Minimum height classes*/
.tall-50{min-height: 50vh;}
.tall-60{min-height: 60vh;}
.tall-70{min-height: 70vh;}
.tall-80{min-height: 80vh;}
.tall-90{min-height: 90vh;}
.tall-100{min-height: 100vh;}


/*Backgrounds & Images*/
.bg-dark { 
    background-color: #192837; 
    color: white;
  }
  
.bg-featured { 
    background-color: #f4b525; 
    color: #192837;
}
.bg-light { background-color: lightblue }
  
.bg-image {
    background-color: grey; /* Set a fall-back color while images are loading */ 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
  
/* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */
.landscape     { padding-bottom: 66%:  }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }
  
  
/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }


/* Image Styles*/
.bg-image{
    background-image: url("/images/the-sleep-co-bed.png");
} 

/* Background Images*/
.bg-bed{ background-image: url("/images/the-sleep-co-bed.png");}
.bg-bug{ 
    background-image: url("/images/the-sleep-co-dog.png"); 
    background-position: 50% 35%;
}
.bg-pillow{
    background-image: url("/images/the-sleep-co-yellow.png");
    background-position: 50% 57%;   
}

/* Typography Styles*/
h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin-bottom: 1.2rem;
}
p {
    line-height: 1.4; 
    margin-bottom: 1rem;
}
  
h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
    margin-bottom: 0;
}

body{
    font-family: 'Catamaran', sans-serif;
    color: #192837;
}

.subtitle{
    font-size: 1.2rem;
    color: rgb( 120, 120, 125);
}


h2{font-size: 2.5rem;}
h3{font-size: 1.8rem;}
h4{font-size: 1.4rem;}

p{
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color:#ffbe00; 
}


.font-weight-light{ font-weight: 200;}
.font-weight-normal{ font-weight: normal;}
.font-weight-extra-bold{ font-weight: 800;}

.text-left{     text-align: left;   }
.text-center{   text-align: center; }
.text-right{    text-align: right;  }

.featured-text{ color: #ffbe00;   }
.white-text{    color: white;     }

.small-text{    font-size: 1.5rem;  }
.big-text{      font-size: 4.5rem;  }
.medium-text{
    font-size: 2rem;
    line-height: 1.3;
}


/*Buttons & Forms*/
input, 
textarea {
    width: 100%;
    display: block;
}


/* Header & Footer Styles-----------------------------*/
header{
    background-image: url("/images/the-sleep-co-white-sheets.png");
    background-size: cover;
    background-position: center;
    padding: 1% 5%;
}

header h3{
    font-size: 5.5rem;
    line-height: 1;
}

nav a{
    display: inline-block;
    padding: 0.5 rem;
    margin: 0.5rem;
    border: none;
}

footer a{
    border:none;
}


/* Font awesome icons------------------------*/
.fas
.fab{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}


/*Contact form--------------------------*/

input, textarea{
    width: 100%;
    display: block;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent;
    outline: none;
}
input:focus, 
textarea:focus{
    border: 2px solid #f4b525;
}

button{
    padding:0.5rem 2rem;
    background-color: #f4b525;
    appearance: none;
    border: 3px solid #f4b525;
    color: inherit;
}

/*Testimonial Block ----------------*/
.quote-icon{
    font-size: 6rem;
    display: inline-block;
    color: rgb( 120, 120, 125);
    line-height: 1;
}

/*----------------------Responsive Styles --------------------*/
/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
    body{ border: 2px solid green; padding: 2px;}
  .show-md { display: block; }
  .hide-md { display: none;  }
  .md-tall-80{ min-height: 80vh;}
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {

    html{font-size: 14px;}
    p{font-size: 1.1rem;}

    body{ border: 2px solid blue; padding: 2px;}

    .show-sm { display: block; }
    .hide-sm { display: none;  }
        
    .sm-text-center { text-align: center; }
    .sm-text-left { text-align: left; }
    .sm-text-right { text-align: right; }

    .sm-padded { padding: 5%; }
    .sm-padded-1 { padding: 1rem; }
    .sm-padded-05 { padding: 0.5rem; }

    .sm-padded-t-0 { padding-top: 0; }
    .sm-padded-b-0 { padding-bottom: 0; }
    .sm-padded-l-0 { padding-left: 0; }
    .sm-padded-r-0 { padding-right: 0; }
  
    .sm-margin-t-0 { margin-top: 0; }
    .sm-margin-b-0 { margin-bottom: 0; }
    .sm-margin-l-0 { margin-left: 0; }
    .sm-margin-r-0 { margin-right: 0; }

    .logo h2{
        font-size: 2rem;
    }
    
    header h3{
        font-size: 10vw;
    }
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {

    body{ border: 2px solid lightblue;  padding: 2px;}
    .show-xs { display: block; }
    .hide-xs { display: none;  }

    h1{
        font-size: 1.4rem;
        line-height: 1.1;
    }
    h2{font-size: 2rem;}
}

/* ------- XXS Media Query (36em / 400px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 25em) {

    html{font-size: 12px;}

    [class*="grid"] .xxs-stack{
        flex-basis: 100%;
        max-width: 100%;
    }
}