/*
    colors: 
    yellow: #ffbe00
    Navy:#192837
*/

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


/* Image Styles*/
.bg-image{
    background-image: url("/images/the-sleep-co-bed.png");
    background-size: cover;
    min-height: 10rem;
} 

.landscape{ padding-bottom: 65%; }
.portrait{ padding-bottom: 125%; }
.sqare{ padding-bottom: 100%; }

/* Universal Styles & Utility Classes*/
body{
    font-family: 'Catamaran', sans-serif;
    color: #192837;
}


.padded{padding: 5%;}
.padded-1{padding: 1rem;}
.padded-sm{padding: 2.5%;}
.padded-lg{padding: 10%;}

.bg-dark{
    background-color:#192837;
    color:white;
}
.bg-featured{
    background-color:  #f4b525;
    color: #192837;
}
.bg-light{
    background-color: lightblue;
}

.tall-50{min-height: 50vh;}
.tall-60{min-height: 60vh;}
.tall-70{min-height: 70vh;}
.tall-80{min-height: 80vh;}
.tall-90{min-height: 90vh;}
.tall-100{min-height: 100vh;}


/* Typography Styles*/
h2, h3, h4, h5, h6{
    margin-bottom: 1rem;
    line-height: 1.1;
}

.text-left{ text-align: left;}
.text-center{ text-align: center;}
.text-right{text-align: right;}

.featured-text{ color: #ffbe00;}
.white-text{ color: white;}

.small-text{font-size: 1.5rem;}
.big-text{font-size: 4.5rem;}
.medium-text{
    font-size: 2rem;
    line-height: 1.3;
}

.subtitle{
    font-size: 1.2rem;
    color: rgb( 120, 120, 125);
}

.quote-icon{
    font-size: 6rem;
    display: inline-block;
    color: rgb( 120, 120, 125);
    line-height: 1;
}

.font-weight-light{ font-weight: 200;}
.font-weight-normal{ font-weight: normal;}
.font-weight-extra-bold{ font-weight: 800;}

h2{
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}
h3{
    line-height: 1;;
}

p{
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}
p:last-child{
    margin-bottom: 0;
}

p.emphasis{}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color:#ffbe00; 
}

/* Header & Footer Styles*/

header a{
    display: inline-block;
    margin: 1rem;
}
header nav a{
    border-bottom: 1px solid;
}

footer a{
    border:none;
}


/* Background Images*/
.bg-bed{ background-image: url("/images/the-sleep-co-bed.png");}
.bg-bug{ 
    background-image: url("/images/the-sleep-co-dog.png"); 
    background-position: 50% 35%;
}
.bg-pillow{
    background-image: url("/images/the-sleep-co-yellow.png");
    background-position: 50% 57%;   
}


/* Top Banner*/

.top-banner{
    background-image: url("/images/the-sleep-co-white-sheets.png");
    background-size: cover;
    background-position: center;
}

.top-banner h3{
    font-size: 5.5rem;
    line-height: 1;
}


/* Icon Grid*/

.fas{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}
