        <!-- JQUERY alwas first, then other libraries like slider etc.-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
       
        <!-- Animate on Scroll -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <!-- Light gallery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>
        
        <!-- Custom Javascript File -->
        <script src="/scripts.js"></script>