       <!------------- Header  ---------------->
       <header class="grid {{page.header-image}} {{page.header-height}} md-tall-80">

        <div class="header-nav grid col-12-top text-left sm-text-center">
            <div class="col-5-middle_sm-12 sm-padded-b-0">
                <a href="/index.html" class="logo">
                    <h2>The Sleep Co</h2>
                </a>
            </div>
            <nav class="col-7-middle_sm-12 text-right sm-text-center">
                <a href="/index.html">Home</a>
                <a href="/about.html">About</a>
                <a href="/products.html">Products</a>
                <a href="/contact.html">Contact</a>
            </nav>
        </div>

        <div class="col-12 text-center">
             <h3><span class="featured-text">sleep</span> like a baby</h3>
             <h1 class="font-weight-normal">the ultimate mattress solution</h1>                
         </div>
     </header>
