        <!------------ Footer ---------------->
        <footer class="padded grid-spaceBetween bg-dark">
            <div class="col-4-bottom">
                <h2>let's<br><span class="featured-text">connect</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloremque excepturi aliquam obcaecati maiores recusandae animi at iusto sint, velit tempore harum repellendus provident quia optio eos rem soluta odit?</p>
            </div>
            <div class="col-5-bottom">
                <p><strong>Call:</strong> <a href="tel:#">34759327459</a></p>
                <p><strong>E-Mail:</strong> <a href="mailto:#">ahsdfkh@ad.de</a></p>
                <p><strong>Store:</strong> askdfja 34b 847 Munich</p>
                <p><strong>Instagram:</strong> <a href="https://www.instagram.con/thesleepco">@thesleepco</a></p>
            </div>
        </footer>