<div class="header-nav grid col-12-top text-left">
    <div class="col-5-middle_sm-11 sm-padded-b-0">
        <a href="/index.html" class="logo">
            <h2>The Sleep Co</h2>
        </a>
    </div>
    <nav class="col-7-middle_sm-12 text-right hide-sm">
        <a href="/index.html">Home</a>
        <a href="/about.html">About</a>
        <a href="/gallery.html">Gallery</a>
        <a href="/products.html">Products</a>
        <a href="/contact.html">Contact</a>
    </nav>

    <div class="col-1">
        <div class="hamburger-button show-sm">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</div>

<nav class="mobile-menu bg-featured padded">
    <a href="/index.html">Home</a>
    <a href="/about.html">About</a>
    <a href="/gallery.html">Gallery</a>
    <a href="/products.html">Products</a>
    <a href="/contact.html">Contact</a>
</nav>